SwordRush/.vs
SwordRush/.idea
SwordRush/bin
SwordRush/obj
SwordRush/Content/bin
SwordRush/Content/obj
*.DS_Store
/SwordRush/.vs/SwordRush/FileContentIndex/4864db0c-8115-44d6-9498-d206dad4e146.vsidx
/SwordRush/.vs/SwordRush/FileContentIndex/6613394e-9707-4dd1-85d1-eae9eac52495.vsidx
